{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
       

        <title>Claims and Services</title>
    </head>
    <body>
        <div class="main-wrapper">
            <div class="container">
                <h1>Claims and Services</h1>
            </div>

            <div class="center-container">
                <div class="link-container">
                    <a href="{% url 'chat' %}" class="link-item">Home</a>
                    <a href="{% url 'we_do' %}" class="link-item">We Do</a>
                    <a href="{% url 'products' %}" class="link-item">Products</a>
                    <a href="{% url 'claims_services' %}" class="link-item">Claims and Services</a>
                    <a href="{% url 'work_with_us' %}" class="link-item">Work with Us</a>
                    <a href="{% url 'about_us' %}" class="link-item">About Us</a>
                </div>
            </div>
        </div>




        <div class="chatbox-wrapper" title="Chat with our AI">
            <div class="chatbox-toggle">
                <i class='bx bx-message-dots'></i>
            </div>
            <div class="chatbox-message-wrapper">
                <div class="chatbox-message-header">
                    <div class="chatbox-message-profile">
                        <img src="{% static 'images/ai.png' %}" alt="" class="chatbox-message-image">
                        <div>
                            <h4 class="chatbox-message-name">Chat with AI</h4>
                            <p class="chatbox-message-status">online</p>
                        </div>
                    </div>
                    <div class="chatbox-message-dropdown">
                        <i class='bx bx-dots-vertical-rounded chatbox-message-dropdown-toggle' ></i>
                        <ul class="chatbox-message-dropdown-menu">
                            <li>
                                <a href="#">Search</a>
                            </li>
                            <li>
                                <a href="#">Report</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="chatbox-message-content">
                    <h4 class="chatbox-message-no-message">Hi! How may I assist you?</h4>
                </div>
                <div class="chatbox-message-bottom">
                    <form action="{% url 'ai_response' %}" method="post" class="chatbox-message-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea name="userMessage" rows="1" placeholder="Type message..." class="chatbox-message-input"></textarea>
                        <button type="submit" class="chatbox-message-submit"><i class='bx bx-send'></i></button>
                    </form>
                </div>
                
            </div>
        </div>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>